/********* RESET *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #022d30;
    color: #f6a56e;
}

/********* COMMON *********/

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

ul li {
    list-style-type: none;
}

a, button, i, li {
    cursor: pointer;
}

/********* HEADER*********/

header li {
    font-size: 1.1rem;
}

.title, .btn-ctn {
    width: 40%;
}

.toggle-ctn {
    width: 60%;
}

header > .container {
    position: relative;
}

header nav {
    position: absolute;
    top: 71px;
    left: -200%;
    width: 100%;
    z-index: 10;
    transition: left 1s;
    background-color: darkcyan;
    color: #fff;
}

header ul {
    width: 100%;
}

header nav ul li {
    width: 100%;
    padding: 5px;
    transition: background-color .30s;
}

header nav ul li:hover {
    background-color: #f6a56e;
}

.show {
    left: 0;
}

.sign-in,
.login {
    padding: 5px;
    border: 0;
}

.login {
    background-color: coral;
}

header .btn:hover {
    background-color: transparent;
    transform: translateY(-6px);
    transition: ease .40s;
    border: 1px solid #f6a56e;
}

/********* MAIN *********/

main {
    height: calc(100vh - 71px);
}

main > .container {
    height: 100%;
}

.my-center-ctn {
    height: 70%;
    width: 70%;
}

main li {
    background-color: #f6a56e;
    color: #022d30;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    animation: delayLoad  .50s linear forwards 5s;
}

@keyframes delayLoad {

    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    
}



/************* MEDIA QUERIES *************/

@media screen and (min-width: 992px) {
    
    header nav {
        position: static;
        width: 50%;
        z-index: 0;
        color: #f6a56e;
        background-color: transparent;
    }

    header ul {
        width: auto;
    }

    header nav ul li{
        padding: 5px;
        margin: 5px;
    }
    
    header nav ul li:hover {
        background-color: #f6a56e;
        color: #fff;
    }

    .sign-in,
    .login {
    padding: 8px 16px;
    }

    main li {
        width: 30%;
    }

}


